<div class="row">
    <div class="col-6">
        <input type="submit" class="btn btn-outline-dark form-control" id="createBtn" value="Create"/>
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-outline-dark form-control"><i class="fas fa-arrow-left"></i> &nbsp; Back</a>
    </div>
</div>