@model short

<div class="row">
    <div class="col-6">
        <input asp-action="Delete" class="btn btn-outline-dark form-control" type="submit" asp-route-id="@Model" value="Yes" />
    </div>
    <div class="col-6">
        <button class="btn btn-outline-dark form-control" data-dismiss="modal">No</button>
    </div>
</div>