@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.ToLower().StartsWith("error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible " role="alert">
        <button type="button" class="close" data-dismiss="alert"
                arial-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Model
    </div>
}

