@model short

<div class="row">
    <div class="col-6">
        <input class="btn btn-outline-dark form-control" type="submit" asp-route-id="@Model" value="Delete" />
    </div>
    <div class="col-6">
        <a class="btn btn-outline-dark form-control" asp-action="Index"><i class="fas fa-arrow-left"></i>&nbsp; Back</a>
    </div>
</div>