@model IEnumerable<Genre>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-dark">
    <h2 class="col-6 text-left">Genres List</h2>
    <div class="col-6 text-right">
        <partial name="_CreateButtonPartial" />
    </div>
</div>

<hr />

@if (Model.Count() > 0)
{
    <div class="offset-3 col-6 text-dark">
        <div class="row py-1 border-bottom">
            <div class="col-4 text-left px-0">
                Category
            </div>
            <div class="col-4 text-left px-0">
                Genre
            </div>
            <div class="col-4 text-right px-0"></div>
        </div>
        @foreach (var item in Model)
        {
            <div class="row py-1 border-bottom">
                <div class="col-4 text-left px-0">
                    @item.Category.Name
                </div>
                <div class="col-4 text-left px-0">
                    @item.Name
                </div>
                <div class="col-4 text-right px-0">
                    <partial name="_EditAndDeleteButtonsPartial" model="item.Id" />
                </div>
            </div>

        }
    </div>
}
else
{
    <div class="text-dark col-3 px-0">
        No Genres found
    </div>
}



