@model Books.Models.Publisher

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-dark">Delete Publisher</h3>

<hr />

<form asp-action="Delete">
    <div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="Name" class="text-dark col-2"></label>
            <input disabled asp-for="Name" class="col-5" />
        </div>
        <div class="row">
            <div class="offset-2 col-5 px-0">
                <partial name="_DeleteAndBackButtonsPartial" model="@Model.Id" />
            </div>
        </div>
    </div>
</form>
